<!DOCTYPE html>
<html>
    <head>
        <title>Receipts</title>
    </head>
    <body>
        <header>
            <nav>
                {% if user.is_authenticated %}
                <li>
                    <a href="{% url 'create_receipt' %}">Create receipt</a>
                    <a href="{% url 'create_category' %}">Create category</a>
                    <a href="{% url 'create_account' %}">Create account</a>
                    <a href="{% url 'category_list' %}">Categories</a>
                    <a href="{% url 'account_list' %}">Accounts</a>
                </li>
                {% endif %}
            </nav>
        </header>
        {% block content %}
        {% endblock content %}
    </body>
</html>

<! this base.html isnt being used in the project>
