<!DOCTYPE html>
<html>
    <head>
        <title>Receipts</title>
    </head>
    <body>
        <header>
            <nav>
                {% if user.is_authenticated %}
                    <li>
                        <a href="{% url 'create_receipt' %}">Create receipt</a>
                        <a href="{% url 'create_category' %}">Create category</a>
                        <a href="{% url 'create_account' %}">Create account</a>
                        <a href="{% url 'category_list' %}">Categories</a>
                        <a href="{% url 'account_list' %}">Accounts</a>
                    </li>
                {% endif %}
            </nav>
        </header>
        <table>
            <tr>
                <th>Name</th>
                <th>Number</th>
                <th>Number of receipts</th>
            </tr>
            {% for account in accounts %}
                <tr>
                    <td>{{ account.name }}</td>
                    <td>{{ account.number }}</td>
                    <td>{{ account.receipts.count }}</td>
                </tr>
            {% endfor %}
        </table>
    </body>
</html>
