<!DOCTYPE html>
<html>
    <head>
        <title>Receipts</title>
    </head>
    <body>
        <header>
            <nav>
                {% if user.is_authenticated %}
                    <li>
                        <a href="{% url 'create_receipt' %}">Create receipt</a>
                        <a href="{% url 'create_category' %}">Create category</a>
                        <a href="{% url 'create_account' %}">Create account</a>
                        <a href="{% url 'category_list' %}">Categories</a>
                        <a href="{% url 'account_list' %}">Accounts</a>
                    </li>
                {% endif %}
            </nav>
        </header>
        <main>
            <div>
                <h1>Create Category</h1>
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button>Create</button>
                </form>
            </div>
        </main>
    </body>
</html>
