<!DOCTYPE html>
<html>
    <head>
        <title>Receipts</title>
    </head>
    <body>
        <header>
            <nav>
                {% if user.is_authenticated %}
                    <li>
                        <a href="{% url 'create_receipt' %}">Create receipt</a>
                        <a href="{% url 'create_category' %}">Create category</a>
                        <a href="{% url 'create_account' %}">Create account</a>
                        <a href="{% url 'category_list' %}">Categories</a>
                        <a href="{% url 'account_list' %}">Accounts</a>
                    </li>
                {% endif %}
            </nav>
        </header>
        <main>
            <h1>My Receipts</h1>
            <table>
                <tr>
                    <th>Vendor</th>
                    <th>Total</th>
                    <th>Tax</th>
                    <th>Date</th>
                    <th>Category</th>
                    <th>Account</th>
                </tr>
                {% for receipt in receipt_list %}
                    <tr>
                        <td>{{ receipt.vendor }}</td>
                        <td>{{ receipt.total }}</td>
                        <td>{{ receipt.tax }}</td>
                        <td>{{ receipt.date|date:"m/d/y" }}</td>
                        <td>{{ receipt.category.name }}</td>
                        <td>{{ receipt.account.name }}</td>
                    </tr>
                {% endfor %}
            </table>
        </main>
    </body>
</html>
